---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "fonts";
@charset "utf-8";

// Our variables
$base_font_size:   10px;
$base_font_family: 'Alegreya', serif;
$base_font_weight: 400;
$base_line_height: 1.5;
$small_font_size:  $base_font_size * 0.875;
$alt_font_family: 'Oswald', sans_serif;

/**
 * Set Root Font Size
 */
html {
	font-size: $base_font_size;
	box-sizing: border-box;
}

$spacing_unit:     20px;

$text_color:       #111;
$color_background: #eee;
$color_post_background: #fff;
$color_brand:      #D64541;
$color_black:      #000;

$grey_color:       #828282;
$grey_color_light: lighten($grey_color, 40%);
$grey_color_dark:  darken($grey_color, 25%);

// Breakpoints
$bp_medium:         600px;
$bp_large:        	900px;

// Width of the content area
$content_width:    $bp_large;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "layout",
    "syntax-highlighting"
;
