---
layout: default
---

<div class="home">

  <div class="post-list">
    {% for post in site.posts %}

      <article class="post">

        <header class="post-header">
          <a href="{{post.url}}"><h1 class="post-title" itemprop="name headline">{{ post.title }}</h1></a>
          <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %}{% assign author = site.data.authors[post.author] %} • {{ author.name }}{% endif %}</p>
        </header>

        <div class="post-content" itemprop="articleBody">
          {{ post.excerpt }}
        </div>

      </article>

    {% endfor %}
  </div>

</div>
