<aside class="header">

  <div class='header--logo'>
    <a href="{{ site.baseurl }}/"><img src="/img/antlers.png"/></a>
  </div>

  <a class="header--title" href="{{ site.baseurl }}/">{{ site.title }}</a>

  <nav class="header--nav">
    {% for nav_element in site.data.nav %}
      <a class="header--nav-link" href="{{ nav_element.url | prepend: site.baseurl }}">{{ nav_element.title }}</a>
      {% unless forloop.last %}
        <span class='bullet'>&bull;</span>
      {% endunless %}
    {% endfor %}
  </nav>

</aside>
