@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url(../fonts/Alegreya-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Bold'), local('Alegreya-Bold'), url(../fonts/Alegreya-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Black'), local('Alegreya-Black'), url(../fonts/Alegreya-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Italic'), local('Alegreya-Italic'), url(../fonts/Alegreya-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'), url(../fonts/Alegreya-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(../fonts/Oswald-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/Oswald-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(../fonts/Oswald-Bold.ttf) format('truetype');
}