/**
 * Header
 */
.header {
    text-align: center;
    font-size: 3.6rem;
    .bullet {
        font-size: 4rem;
    }
    @include media-query($bp_medium) {
        font-size: 4.4rem;
    }
}

.header--title, .header--title:visited, .header--title:hover {
    color: $color_black;
    text-decoration: none;
}

.header--logo {
    margin: 1rem auto 0;
    width: 15rem;
    @include media-query($bp_medium) {
        width: 20rem;
    }
}


.header--nav {
    color: $color_brand;
    margin-top: -2rem;
    @include media-query($bp_medium) {
        margin-top: -3rem;
    }
    @include media-query($bp_medium) {
        font-size: 4.4rem;
    }
}

.header--nav-link {
    font-size: 2rem;
    display: inline-block;
    text-transform: uppercase;
    font-family: $alt-font-family;
    @include media-query($bp_medium) {
        font-size: 2.5rem;
    }
}

/**
 * Page content
 */
.page-content {
}

.page-heading {
}

/**
 * Posts
 */
.post {
    padding: $spacing_unit calc(#{$spacing_unit} * 2);
    background-color: $color_post_background;
    margin: 0 0 $spacing_unit 0;
    font-size: 1.8rem;
    @include media-query($bp_medium) {
        font-size: 2.4rem;
        margin: 0 $spacing_unit $spacing_unit;
    }
    @include media-query($bp_large) {
        margin: 0 0 $spacing_unit;
    }
}

.post--title {
    font-size: 3rem;
    margin-bottom: 0;
    @include media-query($bp_medium) {
        font-size: 3.6rem;
    }
}

.post--header {
    text-align: center;
}

.post--meta {
    font-style: italic;
    font-size: 1.4rem;
    @include media-query($bp_medium) {
        font-size: 1.8rem;
    }
}

.post--read-more {
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
    @include media-query($bp_medium) {
        font-size: 1.8rem;
    }
}